## Dependencies!

In [1]:
# add src dir to sys.path
import sys
sys.path.append('../src')
# sys.path.append('../data/raw')

In [2]:
print(sys.path)

['/nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project/notebooks', '/opt/python/3.9.15/lib/python39.zip', '/opt/python/3.9.15/lib/python3.9', '/opt/python/3.9.15/lib/python3.9/lib-dynload', '', '/home/jkyee/.local/lib/python3.9/site-packages', '/opt/python/3.9.15/lib/python3.9/site-packages', '../src']

In [3]:
# import dependencies
import pandas as pd
import pyreadstat
from dataset import process_dataset, imputation_v1, load_data, create_train_test_sets

2024-09-10 09:57:00,768 - config - INFO - PROJ_ROOT path is: /nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project

## Process SOE dataset to obtain website filter with TRUE labels ('B', 'C')

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
# obtain true IE labels
check = process_dataset('soe22_dc.sas7bdat', 'soe2022_labelledv1.csv')

2024-09-10 09:57:12,863 - config - INFO - Loading dataset from /nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project/data/raw/soe22_dc.sas7bdat
2024-09-10 09:57:13,186 - config - INFO - Saving processed dataset to /nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project/data/processed/soe2022_labelledv1.csv

In [6]:
check.head()

,UEN,ONLINE_PRESENCE_IND,CORPORATE_URL_IND,ECOM_REV,ECOM_REV_IND,TRUE_IE
0,00119300K,1.0,0.0,0.0,0.0,B
2,00277200X,1.0,1.0,250000.0,1.0,C
5,02484100E,1.0,1.0,0.0,0.0,B
7,03317900W,1.0,1.0,180000.0,1.0,C
8,03442400L,1.0,0.0,5000.0,1.0,C

In [7]:
check['TRUE_IE'].value_counts(normalize=True)

TRUE_IE
B    0.626342
C    0.373658
Name: proportion, dtype: float64

In [8]:
check['TRUE_IE'].unique()

array(['B', 'C'], dtype=object)

## Manual website imputation with SOE data

In [9]:
df2022, df2023 = imputation_v1('ie2022_imputed.csv', 'ie2023_imputed.csv')

In [10]:
df2022.head()

,IE_IND,Base_IND,Remarks,SOURCE,IMPUTE_TYPE,FINAL_IE,UEN,CLUSTER_DEFN,OR_CAT,EMP_SIZE,TOT_EMP,REF_YR,EA_IND,FLAD_OR,OWNERSHIP_IND,TOPLINE_IND,New_ENTP_IND,Age_Band,NSME_IND
0,0,1,NaN,NaN,NaN,A,00016800M,11 Wholesale,<=1mil,01. Employees <= 10,1.0,2022,1.0,182227.0,1.LOCAL,1,NaN,> 30 Years,0
1,0,1,NaN,NaN,NaN,A,00020100J,21 Other Services Industries,<=1mil,01. Employees <= 10,2.0,2022,1.0,226970.0,1.LOCAL,1,NaN,> 30 Years,0
2,1,1,NaN,GMAP,NaN,C1,00022500B,21 Other Services Industries,<=1mil,Missing EMP,NaN,2022,1.0,70400.0,1.LOCAL,1,NaN,> 30 Years,0
3,1,1,NaN,ORBIS,NaN,B1,00027700B,11 Wholesale,<=1mil,01. Employees <= 10,2.0,2022,1.0,479282.0,1.LOCAL,1,NaN,> 30 Years,0
4,0,1,NaN,NaN,NaN,A,00045500L,11 Wholesale,<=1mil,Missing EMP,NaN,2022,1.0,602854.0,1.LOCAL,1,NaN,> 30 Years,0

In [11]:
df2023.head()

,IE_IND,UEN,REF_YR,CLUSTER_DEFN,OR_CAT,NSME_IND,Age_Band,FINAL_IE,SOURCE,IE_compare,TOPLINE_IND
0,1,199601595D,2023,11 Wholesale,Above 100mil,0,20 to <= 30 Years,B,ORBIS,website,1
1,1,201017488D,2023,17 Finance & Insurance,Above 100mil,0,10 to <= 20 Years,B,ORBIS,website,1
2,1,198903166R,2023,11 Wholesale,Above 100mil,0,> 30 Years,C,ORBIS,website,1
3,1,199904785Z,2023,17 Finance & Insurance,10mil -<= 100mil,0,20 to <= 30 Years,B,ORBIS,website,1
4,1,197401143C,2023,17 Finance & Insurance,Above 100mil,0,> 30 Years,C,ORBIS,website,1

## Merge in keywords to Train & Test sets
- **Training set:** SOE dataset
- **Test/Inference set:** IE2022, IE2023 datasets

In [12]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
from dataset import create_train_test_sets

In [14]:
train, test2022 = create_train_test_sets()

In [15]:
len(train)

2872

In [32]:
train.head()

,UEN,TRUE_IE,$,account,accreditation,add card,add to bag,add to cart,advert,adwords,...,wallet,web design,webdesign,what we do,wishlist,wix,woocommerce,youtube,predict,sum
0,00119300K,B,53,18,3,3,3,10,3,3,...,12,3,3,3,3,3,3,3,3.0,7200.0
1,00277200X,C,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0.0
2,00277200X,C,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0.0
3,00277200X,C,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0.0
4,02484100E,B,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0.0,215.0

In [19]:
# Look into train set class label distribution
train["TRUE_IE"].value_counts(normalize=True)

TRUE_IE
B    0.597145
C    0.402855
Name: proportion, dtype: float64

In [16]:
test2022.head()

,UEN,$,account,accreditation,add card,add to bag,add to cart,advert,adwords,alipay,...,wallet,web design,webdesign,what we do,wishlist,wix,woocommerce,youtube,predict,sum
0,00022500B,16,8,2,2,2,2,15,2,2,...,2,2,2,2,2,2,2,2,3,2089
1,00027700B,4,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,1,1018
2,00027700B,4,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,1,1018
3,00027700B,4,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,1,1018
4,00064600L,3,9,3,3,3,3,3,3,3,...,3,6,3,3,3,3,87,3,1,4207

In [17]:
len(test2022)

179423