In [1]:
# add src dir to sys.path
import sys
sys.path.append('../src')

In [2]:
# import dependencies
import pandas as pd
from dataset import find_unmatched

2024-09-04 10:56:06,866 - config - INFO - PROJ_ROOT path is: /nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project

In [8]:
df = pd.read_csv('../data/processed/evaluate_modelv3.csv')
df.head()

          UEN                  WEBSITE SOURCES pred_label true_pred
0  196300331K  www.lamsoongroup.com.sg   ORBIS          B         C
1  196300331K         BAKERYOWL.COM.SG   SGNIC          B         C
2  196300331K        BAKERYOWLS.COM.SG   SGNIC          B         C
3  196300331K        GROCERYOWL.COM.SG   SGNIC          B         C
4  196300331K           GROCERYOWLS.SG   SGNIC          B         C

In [9]:
df = find_unmatched(df, 'pred_label', 'true_pred', 'evaluate_model_unmatched.csv')
df.head()

          UEN                  WEBSITE SOURCES pred_label true_pred
0  196300331K  www.lamsoongroup.com.sg   ORBIS          B         C
1  196300331K         BAKERYOWL.COM.SG   SGNIC          B         C
2  196300331K        BAKERYOWLS.COM.SG   SGNIC          B         C
3  196300331K        GROCERYOWL.COM.SG   SGNIC          B         C
4  196300331K           GROCERYOWLS.SG   SGNIC          B         C